<h2 mat-dialog-title>Application configurations</h2>
<mat-dialog-content class="mat-typography">
  <h3>Select main currency</h3>

  <mat-radio-group aria-label="Select an currency" [ngModel]="store.currentCurrency()" (change)="store.setCurrency($event.value)">
    @for(currency of currencies; track currency.id) {
      <mat-radio-button [id]="'config-radio-' + currency.id" [value]="currency.id">{{ currency.name }}</mat-radio-button>
    }
  </mat-radio-group>

  <h3 class="mt-5">Select preferred coins</h3>

  <section>
    @for(coin of coins; track coin.id) {
      <mat-checkbox [id]="'config-checkbox-' + coin.id" [checked]="store.isSelectedCoin(coin.id)" (change)="store.toggleCoin(coin.id)">{{ coin.name }}</mat-checkbox>
    }
  </section>
</mat-dialog-content>
